<%= stylesheet_link_tag "header.css" %>

<div class="container">
    <div class="header">
        <div class="logo">
            <a href="">
                <%= image_tag "logo.png", class:"logo_image" %>
            </a>
        </div>
        <div class="header_menu">
            <p>Item</p>
            <p>Item</p>
            <p>Item</p>

        </div>
        <div class="header_admin_panel">
            <% if user_signed_in? %>
                <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class:"button button_primary button_primary_danger" %>
                <a href="<%= profile_path(current_user.id) %>"><%= image_tag "user.png", class:"icon_link" %></a>
            <% else %>
                <%= link_to "Sign up", new_user_registration_path, class:"button button_primary" %>
                <%= link_to "Sign in", new_user_session_path, class:"button button_primary" %>
            <% end %>
        </div>
        <% if current_user.role == "admin" %>
            <p class="show_user_role role_admin">Admin panel</p>
        <% else %>
            <p class="show_user_role role_employee">Employee panel</p>
        <% end %>
    </div>
</div>
