.container {
    position: relative;
    background-color: #FFF5F0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0px 46px 0px;
}

.header_menu {
    display: flex;
    gap: 32px;
}

.logo_image {
    max-width: 80px;
}

.header_admin_panel {
    display: flex;
    gap: 16px;
}

.button {
    background-color: #F29100;
    padding: 12px 24px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.3s;
}

.button:hover {
    background-color: #f6aa39;
}

.button_primary_danger {
    background-color: #F20000;
    transition: all 0.3s;
}

.button_primary_danger:hover {
    background-color: #fb2929;
}

.show_user_role {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #FFE0CE;
    width: 100%;
    font-size: 12px;
    font-weight: 800;
    color: #F29100;
    padding: 8px 8px;
    text-align: center;
}

.role_admin {
    background-color: #FFE0CE;
    color: #F29100;
}

.role_employee {
    background-color: #CEE8FF;
    color: #4ea1eb;
}

.icon_link {
    max-width: 42px;
}
