.content_block {
    margin: 32px 32px;
    padding-bottom: 32px;
    background-color: #F8F8F8;
    border-radius: 16px;
}

.main_container {

}

.background_block {
    position: relative;
    width: 100%;
    height: 210px;
    background: linear-gradient(266.56deg, #FFB891 0%, #FF6C6C 100%);
    border-radius: 16px 16px 0px 0px;
}

.profile_image {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #FFB891;
    border-radius: 16px;
    bottom: -100px;
    left: 100px;
    border: 10px solid #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

.wrapper_left_part {
    min-width: 360px;
}

.wrapper_right_part {
    width: 100%;
}

.button_block {
    display: block;
    width: fit-content;
    position: absolute;
    top: 60px;
    right: 32px;
}

.profile_username {
    font-size: 42px;
    font-weight: 500;
    color: #454545;
    margin-top: 60px;
}

.profile_email {
    font-size: 14px;
    color: #797979;
    margin-top: 16px;
}

.profile_bio {
    font-size: 13px;
    line-height: 1.2;
    max-width: 800px;
    color: #797979;
    margin-top: 16px;
}

.profile_role {
    margin-top: 16px;
    padding: 12px 24px;
    background-color: #FF6C6C;
    border-radius: 6px;
    display: block;
    color: #ffffff;
    width: fit-content;
}
