<%= stylesheet_link_tag "profile.css" %>

<div class="container">
    <%= render partial: "partials/nav" %>
</div>
<div class="content_block">
    <div class="main_container">
        <div class="background_block">
            <% if current_user.avatar %>
                <%= image_tag current_user.avatar, class:"profile_image" %>
            <% else %>
                <%= image_tag "default_avatar.jpg", class:"profile_image" %>
            <% end %>
        </div>
        <div class="wrapper">
            <div class="wrapper_left_part"></div>
            <div clss="wrapper_right_part">
                <h2 class="profile_username">@<%= @user.username %></h2>
                <h2 class="profile_email"><%= @user.email %></h2>
                <p class="profile_bio">It's my bio, haha it's hom RoR element, it's just HTML p text</p>
                <h2 class="profile_role">● <%= @user.role %> status</h2>
                <%= link_to "Edit", edit_user_registration_path, class:"button button_primary button_block" %>
            </div>
        </div>
    </div>
</div>
